/**
 * Style Defaults
 */
body {
  color: #303030;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff; 
}

/**
 *Typographic Styles
 */

h1 { 
  display: block;
  font-family: serif;
  font-size: 1.75rem;
  line-height: 1.6;
  margin-left: 25px;
}

h1 a {
  color: #ffffff;
}

h2 {
  font-size: 1.375rem;
  line-height: .6;
  margin: 50px 0px 0 100px;
}

/**
 * Layout Styles
 *
 * @ToDo: Create and style a .main-header class
 *        - Add padding
 *        - Display as flexbox
 *        - Align heading and menu along X axis
 *        - Nav items should be aligned to the right
 */
figure {
  margin: 0;
}

header {
  background-color: #000;
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

img {
  display: block;
  height: auto;
  width: 100%;
}


.container {
  margin: 0 auto;
  max-width: 720px;
  padding: 0 ;
}

.gallery {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns:repeat(1, 1fr);
}

.main-nav-list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  text-decoration: none;
  padding: .5rem;
}

.main-nav-item a {
  text-decoration: none;
  color: #ffffff;
}

/**
  *Utilities

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.row {
  flex-direction: row;
} */

@media screen and (min-width: 640px){
  /* CSS Here */

  .container {
    padding: 1.5rem;
  }
  
  .gallery {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns:repeat(3, 1fr);
    margin: 0 100px 0 100px;
  }
  
  .header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .main-nav-list { 
     display: flex;
     align-items: center 
  }
  
  /**
  *Utilities

  .flex-md {
    display: flex;
  }

  .items-center-md {
    align-items: center;
  }

  .space-between-md {
    justify-content: space-between;
  }

  .row-md {
    flex-direction: row;
  }*/
